In [ ]:
# Variable and datatypes

In [ ]:
# variable-----' we dont ahve to find the key value that we have 
# to change when needed we can jut give
# them a variable and a variable can store them and can be replace"

In [ ]:
data type

In [1]:
print("Hello world")

Hello world

In [7]:
print("    /^|")
print("   /  |")
print("  /   |")
print(" /    |")
print("/____ |")

    /^|
   /  |
  /   |
 /    |
/____ |

In [8]:
print("There once was a man named George")
print("he was 70 years old")
print("He really liked the name George")
print("but didn't like being 70.")

There once was a man named George
he was 70 years old
He really liked the name George
but didn't like being 70.

In [12]:
character_name = "Jhon"
chanracter_age= "35"
print("There once was a man named jhon ,")
print("he was 35 years old.")
print("He really liked the name jhon,")
print("but didn't like being 70.")

There once was a man named jhon
he was 35 years old
He really liked the name jhon
but didn't like being 70.

In [14]:
character_name = "Jhon"
chanracter_age= "35"
print("There once was a man named "+ character_name + ",")
print("he was "  + chanracter_age +" years old.")
print("He really liked the name " + character_name +",")
print("but didn't like being 70.")

There once was a man named Jhon,
he was 35 years old.
He really liked the name Jhon,
but didn't like being 70.

In [15]:
character_name = "Tom"
chanracter_age= "50"
print("There once was a man named "+ character_name + ",")
print("he was "  + chanracter_age +" years old.")
print("He really liked the name " + character_name +",")
print("but didn't like being 70.")

There once was a man named Tom,
he was 50 years old.
He really liked the name Tom,
but didn't like being 70.

In [17]:
character_name = "Tom"
chanracter_age= "50"
print("There once was a man named "+ character_name + ",")
print("he was "  + chanracter_age +" years old.")
character_name = "Mike"
print("He really liked the name " + character_name +",")
print("but didn't like being " + chanracter_age +".")

There once was a man named Tom,
he was 50 years old.
He really liked the name Mike,
but didn't like being 50.

### DATA TYPE

In [21]:
character_name = "Tom" #String
chanracter_age= "50" #50 #number
is_male=False  #boolean
print("There once was a man named "+ character_name + ",")
print("he was "  + chanracter_age +" years old.")
character_name = "Mike"
print("He really liked the name " + character_name +",")
print("but didn't like being " + chanracter_age +".")

There once was a man named Tom,
he was 50 years old.
He really liked the name Mike,
but didn't like being 50.

### STRING

In [24]:
print("Giraffe \n Academy")  #\n this created a new line

Giraffe
 Academy

In [26]:
print("Giraffe \"Academy\"")  #\n this created a scape character

Giraffe "Academy"

### SRTNIG VARIABLE

In [46]:
phrase ="Giraffe Academy"
print(phrase)
print(phrase+ " is cool") #concatination
print(phrase.lower())
print(phrase.upper())
print(phrase.isupper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0])
print(phrase[-1])
print(phrase.index("G"))
print(phrase.index("Acad"))
print(phrase.replace("Giraffe","Elephant"))

# print(phrase.upper()[::])

Giraffe Academy
Giraffe Academy is cool
giraffe academy
GIRAFFE ACADEMY
False
True
15
G
y
0
8
Elephant Academy